/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
.env
.env.backup
.env.example
.env.production
.phpunit.result.cache
.DS_Store
npm-debug.log
yarn-error.log
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/config.php
/bootstrap/cache/routes-v7.php
*.log

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/.idea
/.vscode
/.fleet